.benefits {
  background-color: var(--white);
  min-height: 50rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 2rem 0 2rem;
}

.benefits-title {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 900;
  width: auto;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.container-benefits {
  width: 100%;
}

.content-benefit {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.benefits-container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-ligth);
  border-radius: 50%;
  padding: 1rem;
  margin-right: 2rem;
}

.icon {
  height: 6rem;
  width: 6rem;
}

.benefits-subtitle {
  line-height: 1.2;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.benefits-text {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 500;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .benefits {
    justify-content: space-around;
  }

  .container-benefits {
    display: flex;
    justify-content: center;
  }

  .content-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin-right: 3rem;
    padding: 1rem 3rem;
  }

  .benefits-container-img {
    margin-bottom: 2rem;
  }
}